body{
	background-color: #CCCCCC; margin: 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 13px;
}
.container {
	margin: auto; padding: 0px;
	border: #FF0000 dotted 1px; width: 950px;
}
.banner{
	height: 59px;

}
.logo{
	width: 230px;
	float: left;
}
.menutop{
	width: 713px;
	float: right;
	padding-top: 24px; 
}
.menutop a {
	display: block;
	float: left;height: 26px;
	padding-top: 9px;width: 100px;
	text-align: center;font-weight: bold;background: #e9e1cf;
	text-decoration: none; margin-left: 1px;
}
.menutop a:hover{
	text-decoration: underline;
	color: red;
	background: #ed8d00;
}
.cotent{
	margin-top: 5px;
}
.trai{
	width: 235px;
	float: left;
}
.module{
	background-image: url(images/extra-box-bg.jpg);
	background-repeat: no-repeat;margin-bottom: 5px;
}
.module h3{
	margin: 0;height: 28px;padding-top: 8px;
	background-image: url(images/module-bg.jpg);
	background-position: left top;
	padding-left: 45px;font-size: 14px;
	color: #fff;
	}
.module a{
	display: block;font-weight: bold;color: #000;
	background-image: url(images/mainlevel-bg.png);
	background-position: center;background-repeat: no-repeat;
	height: 29px;padding-top: 7px;
	text-decoration: none;padding-left: 50px;
}	
.module a:hover{
	color: #fff;
}
.module #image{
	text-align: center;
	margin-top: 2px;
}
.module .imgcontent .leftAlign{
	width: 150px;margin-left:15px;float: left;
}
.module .imgcontent .rightAlign{
	text-align:right;margin-right:15px;float: right;
}
.clear{
	clear: both;
}
.module .ads{
	border: #f00 1px solid;
	padding: 1px;
}
.module .ads img{
	width: 231px;
}
.phai{
	width: 713px;
	float: right;
}
#slideshow{
	float: left;
}
#product{
	float: left;
}
#product h3 .header{
	margin: 0;height: 28px;padding-top: 8px;
	background-image: url(images/module-bg2.jpg);
	background-position: left top;
	padding-left: 45px;font-size: 14px;
	width: 668px;
}
.item{
	width: 215px;text-align: center;
	border: 1px dotted #f00f00;float: left;padding: 10px;
	height: 250px;

}
.item .productName{
	margin: 0;font-size: 12px;
	margin-bottom: 10px;
}
.item .productPrice{
	color: #f00;
}
.item .productDetail,.item .productBigImg{
	width: 80px;float:left;height: 25px;
	padding-top: 10px;display: block;
	text-decoration: none;
}
.item .productDetail{
	background-color: #e8e1c1;margin-left: 30px;color: #000;
}
.item .productBigImg{
	background-color: #ed8c01;color: #fff;
}
.item .productDetail:hover,.item .productBigImg:hover{
	font-weight: bold;
}
#footer{
	margin-top: 10px;
	border: 2px solid #006600;
	height: 70px;
	background-color: #ed8d00;
	padding: 2px 10px;
}